.bgi1 {
	background-image: url("../assets/bg58.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bgi2 {
	background-image: url("../assets/bg71.svg");
	background-repeat: no-repeat;
	background-size: cover;
}
