body {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	font-smooth: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

body::-webkit-scrollbar-track {
	background-color: #222222;
}

body::-webkit-scrollbar-thumb {
	background: #4c4c4c;
	border-radius: 4px;
}

.customScroll::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.customScroll::-webkit-scrollbar-thumb {
	background: rgba(174, 174, 174, 0.7);
	border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #2e2e2e inset !important;
	-webkit-text-fill-color: #f0f8ff;
	-webkit-border-after-color: rgba(0, 0, 0, 1);
}

::-webkit-input-placeholder {
	-webkit-text-fill-color: rgb(147, 147, 147);
}
