.ProseMirror {
	> * + * {
		margin-top: 0.75em;
	}
	ul {
		list-style-type: disc;
		padding: 0 1rem;
	}
	ol {
		list-style-type: decimal;
		padding: 0 1rem;
	}

	h1 {
		font-size: 40px;
		line-height: 1.7;
	}
	h2 {
		font-size: 35px;
		line-height: 1.7;
	}
	h3 {
		font-size: 30px;
		line-height: 1.7;
	}
	h4 {
		font-size: 25px;
		line-height: 1.7;
	}
	h5 {
		font-size: 20px;
		line-height: 1.6;
	}
	h6 {
		font-size: 15px;
		line-height: 1.6;
	}

	code {
		background-color: rgba(#616161, 0.1);
		color: #616161;
	}

	pre {
		background: #323538;
		color: #f7f7f7;
		font-family: "JetBrainsMono", monospace;
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		code {
			color: inherit;
			padding: 0;
			background: none;
			font-size: 1rem;
			line-height: 0.8;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	blockquote {
		padding-left: 1rem;
		border-left: 2px solid rgba(#eeeeee, 0.3);
	}

	hr {
		border: none;
		border-top: 2px solid rgba(#eeeeee, 0.3);
		margin: 2rem 2rem;
	}
}

.is-active {
	background-color: #e8e8e8;
	color: rgb(40, 40, 40);
	font-weight: 500;
}

.ProseMirror-focused {
	border: none;
}

:focus-visible {
	outline-width: 0px;
}

button {
	border-color: rgb(101, 101, 101);
}

mark {
	border-radius: 0.25em;
	box-decoration-break: clone;
	padding: 3px 5px;
	line-height: 1.9;
}
